@charset "utf-8";
@import './_mixin.scss';
@import './_color.scss';

.h{
	height: 100%;
}
.w{
	width: 100%;
}
$_length: 35 !default;
$_default_px: 1px !default;

@for $margin_num from 0 through $_length{
	.m-#{$margin_num} {
		margin: $margin_num * $_default_px;
	}
	.mt-#{$margin_num} {
		margin-top: $margin_num * $_default_px;
	}
	.mb-#{$margin_num} {
		margin-bottom: $margin_num * $_default_px;
	}
	.ml-#{$margin_num} {
		margin-left: $margin_num * $_default_px;
	}
	.mr-#{$margin_num} {
		margin-right: $margin_num * $_default_px;
    }
    .p-#{$margin_num} {
		padding: $margin_num * $_default_px;
	}
	.pt-#{$margin_num} {
		padding-top: $margin_num * $_default_px;
	}
	.pb-#{$margin_num} {
		padding-bottom: $margin_num * $_default_px;
	}
	.pl-#{$margin_num} {
		padding-left: $margin_num * $_default_px;
	}
	.pr-#{$margin_num} {
		padding-right: $margin_num * $_default_px;
	}
	.z-#{$margin_num} {
		z-index: $margin_num;
	}
}


@for $font_size from 12 through $_length{
	.f-#{$font_size}{
		font-size: $font_size * $_default_px;
	}
}

$line_num_length: 5!default;
@for $line_num from 0 through $line_num_length{
	.text_overflow_#{$line_num}{
		@include text_overflow($line_num);
	}
}




.text_left{
	text-align: left;
}
.text_center{
	text-align: center;
}
.text_right{
	text-align: right;
}

.block{
	display: block;
}

.hover-shadow{
	&:hover{
		@include shadow(0,0,30px)
	}
}

.hover{
	&:hover{
		color: $primary;
	}
}
.cur-pointer{
	cursor: pointer;
}




.bg-white{	background-color: white; }

.unselect{user-select: none;}

.flex{
    display: flex;
    &.align_center{
        align-items: center;
    }
    &.flex_wrap{
        flex-wrap: wrap;
    }
}





*{
	&.fade-enter-active{
	  transition: all 0.2s linear;
	  transform: translate3d(0, 0, 0);
	}
	&.fade-enter{
	  opacity: 0;
	  transform: translate3d(100%, 0, 0);
	}
  }
  
*{
	&.fadeInOut-enter-active, &.fadeInOut-leave-active {
		width: 100%;
		height: 100%;
		position: relative;
		left: 0;
		top: 0;
		bottom: 0;
		transition: all 0.2s linear;
		transform: translate3d(0, 0, 0);
	}
	&.fadeInOut-enter, &.fadeInOut-leave-active {
		opacity: 0;
		transform: translate3d(100%, 0, 0);
	}
  }
  
*{
	&.fade_top-enter-active, &.fade_top-leave-active {
		transition: all 0.2s linear;
		transform: translate3d(0, 0, 0);
	}
	&.fade_top-enter, &.fade_top-leave-active {
		opacity: 0;
		transform: translate3d(0, 100%, 0);
	}
}



.img_auto{
	max-width: 100%;
	display: block;
	margin: 0 auto;
}

.radius-5{
	@include rounded(5px);
	overflow: hidden;
}

.circle{
	border-radius: 50%;
}

.mask{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,.5);
}

.f_l{ float: left; }
.f_r{ float: right; }
.clearfix{
	&:after {
		display: block;
		content: "";
		clear: both;
		font-size: 0;
	}
}



.play_count{
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
    height: 100%;
	@include shadow-inset(0, 20px, 30px, rgba(0,0,0,.5));;
	.headset{
		position: absolute;
		right: 5px;
		top: 5px;
		font-size: 12px;
		vertical-align: middle;
		color: white;
		i{
			font-size: 12px;
			vertical-align: middle;
		}
	}
}


.detail_head{
	display: flex;
	padding: 15px 10px;
	justify-content:center;
	align-items:center;
	position: relative;
	overflow: hidden;
	color: white;
	.img_bg{
		z-index: -1;
		width: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        img{
            -webkit-filter: blur(4px);
            -moz-filter: blur(4px);
            -ms-filter: blur(4px);
            -o-filter: blur(4px);
            filter: blur(4px); 
        	transform: translateY(-25%);
        }
    }
    .mask{
    	position: absolute;
    }
	.thumb{
		width: 130px;
		margin-right: 10px;
		position: relative;
	}
	.sheet_main{
		flex: 1;
		text-align: left;
		>*{
			margin: 10px 0 0 0;
			&:first-child{
				margin-top: 0;
			}
		}
		
		.creator{
			> *{
				vertical-align: middle;
			}
			.nickname{
				color: white;
				/*color: #333;*/
			}
			.link{
				position: relative;
				.link_icon{
					position: absolute;
					right: -24px;
					top: 50%;
					transform: translateY(-50%);
				}
			}
		}
		.copywriter{
			font-size: 12px;
			color: #ddd;
		}
		.tags{
			margin-top: 10px;
		}
	}
}
.link{
    *{
        vertical-align: middle;
    }
}


