@charset "utf-8";
@import './_mixin.scss';
@import './_color.scss';

.h{
	height: 100%;
}
.w{
	width: 100%;
}
$_length: 35 !default;
$_default_px: 1px !default;

@for $margin_num from 0 through $_length{
	.mt-#{$margin_num} {
		margin-top: $margin_num * $_default_px;
	}
	.mb-#{$margin_num} {
		margin-bottom: $margin_num * $_default_px;
	}
	.ml-#{$margin_num} {
		margin-left: $margin_num * $_default_px;
	}
	.mr-#{$margin_num} {
		margin-right: $margin_num * $_default_px;
	}
	.m-#{$margin_num} {
		margin: $margin_num * $_default_px;
	}
	.pt-#{$margin_num} {
		padding-top: $margin_num * $_default_px;
	}
	.pb-#{$margin_num} {
		padding-bottom: $margin_num * $_default_px;
	}
	.pl-#{$margin_num} {
		padding-left: $margin_num * $_default_px;
	}
	.pr-#{$margin_num} {
		padding-right: $margin_num * $_default_px;
	}
	.p-#{$margin_num} {
		padding: $margin_num * $_default_px;
	}
	.z-#{$margin_num} {
		z-index: $margin_num;
	}
}


@for $font_size from 12 through $_length{
	.f-#{$font_size}{
		font-size: $font_size * $_default_px;
	}
}

.text_left{
	text-align: left;
}
.text_center{
	text-align: center;
}
.text_right{
	text-align: right;
}

.block{
	display: block;
}

.hover-shadow{
	&:hover{
		@include shadow(0,0,30px)
	}
}

.hover{
	&:hover{
		color: $primary;
	}
}
.cur-pointer{
	cursor: pointer;
}




.bg-white{	background-color: white; }

.unselect{user-select: none;}

.flex{display: flex;}

.flex-wrap{flex-wrap: wrap;}




*{
	&.fade-enter-active{
	  transition: all 0.2s linear;
	  transform: translate3d(0, 0, 0);
	}
	&.fade-enter{
	  opacity: 0;
	  transform: translate3d(100%, 0, 0);
	}
  }
  
*{
	&.fadeInOut-enter-active, &.fadeInOut-leave-active {
		width: 100%;
		height: 100%;
		position: relative;
		left: 0;
		top: 0;
		bottom: 0;
		transition: all 0.2s linear;
		transform: translate3d(0, 0, 0);
	}
	&.fadeInOut-enter, &.fadeInOut-leave-active {
		opacity: 0;
		transform: translate3d(100%, 0, 0);
	}
  }
  
*{
	&.fade_top-enter-active, &.fade_top-leave-active {
		transition: all 0.2s linear;
		transform: translate3d(0, 0, 0);
	}
	&.fade_top-enter, &.fade_top-leave-active {
		opacity: 0;
		transform: translate3d(0, 100%, 0);
	}
}



.img_auto{
	max-width: 100%;
	display: block;
	margin: 0 auto;
}

.radius-5{
	@include rounded(5px);
	overflow: hidden;
}

.cricle{
	border-radius: 50%;
}

.mask{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,.5);
}


.clearfix{
	&:after {
		display: block;
		content: "";
		clear: both;
		font-size: 0;
	}
}



