@charset "utf-8";
/*@import './_mixin.scss';*/

$primary: #ff4081;
$secondary: #E29587;

$red: #f44336;

$special: #f64f59;



$title: #303133;
$_disabled: #909399;


$_body: #eff2f7;

$default_color: #333333;

$border_1: #DCDFE6;
$border_2: #E4E7ED;
$border_3: #EBEEF5;
$border_4: #F2F6FC;


.default{
	color: $default_color;
}
.primary{
	color: $primary;
}
.special{
	color: $special
}
.white{
	color: white;
}
.disabled{
	color: $_disabled;
}
/*$mainColor: background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);*/
